.wrapper > div{
    border: 2px solid red;
    background-color: blanchedalmond;
    margin: 2px;
    padding: 10px;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: repeat(10, 1fr); */
    
    
}

.one{
    grid-column: 1/4;
    
}

.five{
    
   
}

.eight{
    grid-column: 1/4;
    
}

h1, h2{
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 50%;
}